{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}
    <h1>Episodes</h1>
    <a href="{{ path('episode_index') }}">Retour à la liste</a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Episode n°</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
            <tr>
                <th>Série</th>
                <td>{{ episode.season.program.title }}</td>
            </tr>
        </tbody>
    </table>


    {% if is_granted('ROLE_SUBSCRIBER') %}
        <div class="container-fluid" style="background-color: #dcdcdc73">
            <h2>Ajouter un commentaire :</h2>
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.comment) }}
                </div>
                <div class="col"
                {{ form_row(form.rate) }}
            </div>
            {{ form_end(form) }}
        </div>
    {% endif %}

<div class="mt-5 container-fluid" style="background-color: #dcdcdc73">
    <h2>Commentaires</h2>
    <ul>
        {% for comment in episode.comments|sort %}
{#
            {{ dump(episode.comments) }}
#}
            <li style="list-style: none">{{ loop.index }} / {{ comment.comment }}</li>
            <p style="font-weight: bold">Note donné : {{ comment.rate }}/5</p>
            <p style="font-style: italic">Commentaire laissé par {{ comment.author.username }}</p>
            {% if is_granted('ROLE_SUBSCRIBER') and app.user.id == comment.author.id %}
            {{ include('comment/_delete_form.html.twig') }}
            {%endif%}
            <br>
        {% else %}
            <p>Il n'y a pas encore de commentaire, publiez le premier !</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
