{% extends 'base.html.twig' %}

{% block title %}Toutes nos séries{% endblock %}

{% block body %}
    <h1>Retrouvez toutes les séries disponibles sur notre site : </h1>
        <div class="row">
            {% for program in programs %}
                <div class="col-md-3 card">
                    <img src="{{ program.poster }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title">{{ program.title }} </h4>
                            <p class="card-text">Catégorie : {{ program.category.name }}</p>
                            <p class="card-text">{{ program.summary}}</p>
                            <a href="{{ path('wild_season', {'id': program.id }) }}" class="btn btn-dark">Voir les épisodes</a>
                        </div>
                </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    </div>

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
