{% extends 'base.html.twig' %}

{% block title %}Toutes nos séries{% endblock %}

{% block body %}
    <h1 class="titreh1">Retrouvez toutes les séries disponibles sur notre site : </h1>
        <div class="row justify-content-center">
            {% for program in programs %}
                <div class="col-sm-4 card align-items-center">
                    <div class="card-body w-50">
                        <img src="{{ program.poster }}" class="card-img-top" alt="poster des séries">
                            <h4 class="card-title">{{ loop.index }} / {{ program.title }} </h4>
                            <p class="card-text">Catégorie : {{ program.category.name }}</p>
                        <a href="{{ path('wild_program', {'slug' : program.title|lower|replace({' ': "-"})}) }}" class="btn btn-dark">Voir le programme</a>
                    </div>
                </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
        </div>

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
