{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="main_title">La série {{ program.title }}</h1>
            <p>Categorie : {{ program.category.name }}</p>
            <h3>Résumé du programme :</h3>
            <p>{{ program.summary }}</p>

            <a href="{{ path('wild_season', {'id' : program.id }) }}" class="btn btn-dark">Voir les saisons</a>
<div>
    <a href="{{ path('wild_index') }}">Retour à la liste des séries</a>
</div>

{% endblock %}
