<nav class="navbar sticky-top navbar-expand-lg">
    <a class="nav-link bigtitle" href="{{ path('app_index') }}">Wild series</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nos séries
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('wild_index') }}">Le top 10 des séries</a>
                    <a class="dropdown-item" href="{{ path('program_index')}}">Voir la liste des séries</a>
                    <a class="dropdown-item" href="{{ path('season_index')}}">Voir la liste des saisons</a>
                    <a class="dropdown-item" href="{{ path('episode_index')}}">Voir la liste des épisodes</a>
                    <a class="dropdown-item" href="{{ path('comment_index')}}">Voir la liste des commentaires</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('category_add') }}">Liste des catégories</a>
                    <a class="dropdown-item" href="{{ path('show_category', { 'categoryName': "horreur" }) }}">Horreur</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acteurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('actor_index') }}">Les acteurs français</a>
                    <a class="dropdown-item" href="#">Les acteurs US</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link bigtitle" href="#">Mes favoris</a>
            </li>
            <li class="login_text">
                {% if app.user %}
                    <p class="login_text">{{ app.user.email }}</p>
                    <a class="login_text" href="{{ path('app_logout') }}"> Se déconnecter</a>
                {% else %}
                    <a class="login_text" href="{{ path('app_login') }}"> Se connecter</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
